AttributeError: 'MockSocket' object has no attribute 'close'

Attempting to run the tests, I encounter this error:

```
suds main $ python3.9 -m pip-run importlib_metadata 'pytest<4' -- -m pytest
Collecting importlib_metadata
  Using cached importlib_metadata-4.8.1-py3-none-any.whl (17 kB)
Collecting pytest<4
  Using cached pytest-3.10.1-py2.py3-none-any.whl (216 kB)
Collecting zipp>=0.5
  Using cached zipp-3.5.0-py3-none-any.whl (5.7 kB)
Collecting six>=1.10.0
  Using cached six-1.16.0-py2.py3-none-any.whl (11 kB)
Collecting setuptools
  Using cached setuptools-58.1.0-py3-none-any.whl (816 kB)
Collecting more-itertools>=4.0.0
  Using cached more_itertools-8.10.0-py3-none-any.whl (51 kB)
Collecting pluggy>=0.7
  Using cached pluggy-1.0.0-py2.py3-none-any.whl (13 kB)
Collecting atomicwrites>=1.0
  Using cached atomicwrites-1.4.0-py2.py3-none-any.whl (6.8 kB)
Collecting py>=1.5.0
  Using cached py-1.10.0-py2.py3-none-any.whl (97 kB)
Collecting attrs>=17.4.0
  Using cached attrs-21.2.0-py2.py3-none-any.whl (53 kB)
Installing collected packages: zipp, six, setuptools, py, pluggy, more-itertools, attrs, atomicwrites, pytest, importlib-metadata
Successfully installed atomicwrites-1.4.0 attrs-21.2.0 importlib-metadata-4.8.1 more-itertools-8.10.0 pluggy-1.0.0 py-1.10.0 pytest-3.10.1 setuptools-58.1.0 six-1.16.0 zipp-3.5.0
WARNING: You are using pip version 21.2.3; however, version 21.2.4 is available.
You should consider upgrading via the '/Library/Frameworks/Python.framework/Versions/3.9/bin/python3.9 -m pip install --upgrade pip' command.
======================================================================== test session starts ========================================================================
platform darwin -- Python 3.9.6, pytest-3.10.1, py-1.10.0, pluggy-1.0.0
rootdir: /Users/jaraco/code/main/suds, inifile:
collected 589 items                                                                                                                                                 

tests/test_argument_parser.py .x..............................................................................                                                [ 13%]
tests/test_cache.py ..............                                                                                                                            [ 15%]
tests/test_client_cache.py ....                                                                                                                               [ 16%]
tests/test_date_time.py ..................................................................................................................................... [ 39%]
............................................................................................................................................................. [ 65%]
...........                                                                                                                                                   [ 67%]
tests/test_document_store.py .....                                                                                                                            [ 68%]
tests/test_input_parameters.py x.x.......................                                                                                                     [ 73%]
tests/test_reply_handling.py ...x............                                                                                                                 [ 75%]
tests/test_request_construction.py x....x.x.xx............xx.xx.x.....x............x...............                                                           [ 86%]
tests/test_suds.py x.....................x........                                                                                                            [ 91%]
tests/test_timezone.py ................                                                                                                                       [ 94%]
tests/test_transport.py .................                                                                                                                     [ 97%]
tests/test_transport_http.py .........F.ss..                                                                                                                  [100%]

============================================================================= FAILURES ==============================================================================
_____________________________________________________________________ test_sending_unicode_data _____________________________________________________________________

self = <urllib.request.HTTPHandler object at 0x10ce47d30>, http_class = <class 'http.client.HTTPConnection'>, req = <urllib.request.Request object at 0x10cdc6f40>
http_conn_args = {}, host = 'an-easily-recognizable-host-name-214894932:9999', h = <http.client.HTTPConnection object at 0x10ce47e20>

    def do_open(self, http_class, req, **http_conn_args):
        """Return an HTTPResponse object for the request, using http_class.
    
        http_class must implement the HTTPConnection API from http.client.
        """
        host = req.host
        if not host:
            raise URLError('no host given')
    
        # will parse host:port
        h = http_class(host, timeout=req.timeout, **http_conn_args)
        h.set_debuglevel(self._debuglevel)
    
        headers = dict(req.unredirected_hdrs)
        headers.update({k: v for k, v in req.headers.items()
                        if k not in headers})
    
        # TODO(jhylton): Should this be redesigned to handle
        # persistent connections?
    
        # We want to make an HTTP/1.1 request, but the addinfourl
        # class isn't prepared to deal with a persistent connection.
        # It will try to read all remaining data from the socket,
        # which will block while the server waits for the next request.
        # So make sure the connection gets closed after the (only)
        # request.
        headers["Connection"] = "close"
        headers = {name.title(): val for name, val in headers.items()}
    
        if req._tunnel_host:
            tunnel_headers = {}
            proxy_auth_hdr = "Proxy-Authorization"
            if proxy_auth_hdr in headers:
                tunnel_headers[proxy_auth_hdr] = headers[proxy_auth_hdr]
                # Proxy-Authorization should not be sent to origin
                # server.
                del headers[proxy_auth_hdr]
            h.set_tunnel(req._tunnel_host, headers=tunnel_headers)
    
        try:
            try:
>               h.request(req.get_method(), req.selector, req.data, headers,
                          encode_chunked=req.has_header('Transfer-encoding'))

/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/urllib/request.py:1346: 
_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _

self = <http.client.HTTPConnection object at 0x10ce47e20>, method = 'POST', url = '/svc'
body = b'<?xml version="1.0" encoding="UTF-8"?><SOAP-ENV:Envelope xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" ...xd1\x81\xd0\xba\xd0\xb8\xd0\xb9 \xd1\x80\xd0\xb0\xd0\xb9\xd0\xbe\xd0\xbd</ns1:fRequest></ns0:Body></SOAP-ENV:Envelope>'
headers = {'Connection': 'close', 'Content-Length': '369', 'Content-Type': 'text/xml; charset=utf-8', 'Host': 'an-easily-recognizable-host-name-214894932:9999', ...}

    def request(self, method, url, body=None, headers={}, *,
                encode_chunked=False):
        """Send a complete request to the server."""
>       self._send_request(method, url, body, headers, encode_chunked)

/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/http/client.py:1257: 
_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _

self = <http.client.HTTPConnection object at 0x10ce47e20>, method = 'POST', url = '/svc'
body = b'<?xml version="1.0" encoding="UTF-8"?><SOAP-ENV:Envelope xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" ...xd1\x81\xd0\xba\xd0\xb8\xd0\xb9 \xd1\x80\xd0\xb0\xd0\xb9\xd0\xbe\xd0\xbd</ns1:fRequest></ns0:Body></SOAP-ENV:Envelope>'
headers = {'Connection': 'close', 'Content-Length': '369', 'Content-Type': 'text/xml; charset=utf-8', 'Host': 'an-easily-recognizable-host-name-214894932:9999', ...}
encode_chunked = False

    def _send_request(self, method, url, body, headers, encode_chunked):
        # Honor explicitly requested Host: and Accept-Encoding: headers.
        header_names = frozenset(k.lower() for k in headers)
        skips = {}
        if 'host' in header_names:
            skips['skip_host'] = 1
        if 'accept-encoding' in header_names:
            skips['skip_accept_encoding'] = 1
    
        self.putrequest(method, url, **skips)
    
        # chunked encoding will happen if HTTP/1.1 is used and either
        # the caller passes encode_chunked=True or the following
        # conditions hold:
        # 1. content-length has not been explicitly set
        # 2. the body is a file or iterable, but not a str or bytes-like
        # 3. Transfer-Encoding has NOT been explicitly set by the caller
    
        if 'content-length' not in header_names:
            # only chunk body if not explicitly set for backwards
            # compatibility, assuming the client code is already handling the
            # chunking
            if 'transfer-encoding' not in header_names:
                # if content-length cannot be automatically determined, fall
                # back to chunked encoding
                encode_chunked = False
                content_length = self._get_content_length(body, method)
                if content_length is None:
                    if body is not None:
                        if self.debuglevel > 0:
                            print('Unable to determine size of %r' % body)
                        encode_chunked = True
                        self.putheader('Transfer-Encoding', 'chunked')
                else:
                    self.putheader('Content-Length', str(content_length))
        else:
            encode_chunked = False
    
        for hdr, value in headers.items():
            self.putheader(hdr, value)
        if isinstance(body, str):
            # RFC 2616 Section 3.7.1 says that text default has a
            # default charset of iso-8859-1.
            body = _encode(body, 'body')
>       self.endheaders(body, encode_chunked=encode_chunked)

/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/http/client.py:1303: 
_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _

self = <http.client.HTTPConnection object at 0x10ce47e20>
message_body = b'<?xml version="1.0" encoding="UTF-8"?><SOAP-ENV:Envelope xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" ...xd1\x81\xd0\xba\xd0\xb8\xd0\xb9 \xd1\x80\xd0\xb0\xd0\xb9\xd0\xbe\xd0\xbd</ns1:fRequest></ns0:Body></SOAP-ENV:Envelope>'

    def endheaders(self, message_body=None, *, encode_chunked=False):
        """Indicate that the last header line has been sent to the server.
    
        This method sends the request to the server.  The optional message_body
        argument can be used to pass a message body associated with the
        request.
        """
        if self.__state == _CS_REQ_STARTED:
            self.__state = _CS_REQ_SENT
        else:
            raise CannotSendHeader()
>       self._send_output(message_body, encode_chunked=encode_chunked)

/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/http/client.py:1252: 
_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _

self = <http.client.HTTPConnection object at 0x10ce47e20>
message_body = b'<?xml version="1.0" encoding="UTF-8"?><SOAP-ENV:Envelope xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" ...xd1\x81\xd0\xba\xd0\xb8\xd0\xb9 \xd1\x80\xd0\xb0\xd0\xb9\xd0\xbe\xd0\xbd</ns1:fRequest></ns0:Body></SOAP-ENV:Envelope>'
encode_chunked = False

    def _send_output(self, message_body=None, encode_chunked=False):
        """Send the currently buffered request and clear the buffer.
    
        Appends an extra \\r\\n to the buffer.
        A message_body may be specified, to be appended to the request.
        """
        self._buffer.extend((b"", b""))
        msg = b"\r\n".join(self._buffer)
        del self._buffer[:]
>       self.send(msg)

/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/http/client.py:1012: 
_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _

self = <http.client.HTTPConnection object at 0x10ce47e20>
data = b'POST /svc HTTP/1.1\r\nAccept-Encoding: identity\r\nContent-Length: 369\r\nHost: an-easily-recognizable-host-name-214...nUser-Agent: Python-urllib/3.9\r\nContent-Type: text/xml; charset=utf-8\r\nSoapaction: ""\r\nConnection: close\r\n\r\n'

    def send(self, data):
        """Send `data' to the server.
        ``data`` can be a string object, a bytes object, an array object, a
        file-like object that supports a .read() method, or an iterable object.
        """
    
        if self.sock is None:
            if self.auto_open:
>               self.connect()

/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/http/client.py:952: 
_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _

self = <http.client.HTTPConnection object at 0x10ce47e20>

    def connect(self):
        """Connect to the host and port specified in __init__."""
        self.sock = self._create_connection(
            (self.host,self.port), self.timeout, self.source_address)
>       self.sock.setsockopt(socket.IPPROTO_TCP, socket.TCP_NODELAY, 1)
E       AttributeError: 'MockSocket' object has no attribute 'setsockopt'

/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/http/client.py:925: AttributeError

During handling of the above exception, another exception occurred:

monkeypatch = <_pytest.monkeypatch.MonkeyPatch object at 0x10cd99190>

    def test_sending_unicode_data(monkeypatch):
        """
        Original suds implementation passed its request location URL to the
        underlying HTTP request object as a unicode string.
    
        Under Python 2.4 this causes no problems as that implementation simply
        sends all the request data over the network as-is (and treats all unicode
        data as bytes anyway).
    
        Under Python 2.7 this causes the httplib HTTP request implementation to
        convert all of its data to unicode, and do so by simply assuming that data
        contains only ASCII characters. If any other characters are encountered, it
        fails with an exception like "UnicodeDecodeError: 'ascii' codec can't
        decode byte 0xd0 in position 290: ordinal not in range(128)".
    
        Under Python 3.x the httplib HTTP request implementation automatically
        converts its received URL to a bytes object (assuming it contains only
        ASCII characters), thus avoiding the need to convert all the other request
        data.
    
        In order to trigger the problematic httplib behaviour we need to make suds
        attempt to send a HTTP request over the network. On the other hand, we want
        this test to work even on computers not connected to a network so we
        monkey-patch the underlying network socket APIs, log all the data suds
        attempt to send over the network and consider the test run successful once
        suds attempt to read back data from the network.
    
        """
        def callOnce(f):
            """Method decorator making sure its function only gets called once."""
            def wrapper(self, *args, **kwargs):
                fTag = "_%s__%s_called" % (self.__class__.__name__, f.__name__)
                assert not hasattr(self, fTag)
                setattr(self, fTag, True)
                return f(self, *args, **kwargs)
            return wrapper
    
        class Mocker:
            def __init__(self, expectedHost, expectedPort):
                self.expectedHost = expectedHost
                self.expectedPort = expectedPort
                self.sentData = suds.byte_str()
                self.hostAddress = object()
            @callOnce
            def getaddrinfo(self, host, port, *args, **kwargs):
                assert host == self.expectedHost
                assert port == self.expectedPort
                return [(None, None, None, None, self.hostAddress)]
            @callOnce
            def socket(self, *args, **kwargs):
                self.socket = MockSocket(self)
                return self.socket
    
        class MockSocketReader:
            @callOnce
            def readline(self, *args, **kwargs):
                raise MyException
    
        class MockSocket:
            def __init__(self, mocker):
                self.__mocker = mocker
            @callOnce
            def connect(self, address):
                assert address is self.__mocker.hostAddress
            @callOnce
            def makefile(self, *args, **kwargs):
                return MockSocketReader()
            def sendall(self, data):
                # Python 2.4 urllib implementation calls this function twice - once
                # for sending the HTTP request headers and once for its body.
                self.__mocker.sentData += data
            @callOnce
            def settimeout(self, *args, **kwargs):
                assert not hasattr(self, "settimeout_called")
                self.settimeout_called = True
    
        host = "an-easily-recognizable-host-name-214894932"
        port = 9999
        mocker = Mocker(host, port)
        monkeypatch.setattr("socket.getaddrinfo", mocker.getaddrinfo)
        monkeypatch.setattr("socket.socket", mocker.socket)
        url = "http://%s:%s/svc" % (host, port)
        store = suds.store.DocumentStore(wsdl=_wsdl_with_input_data(url))
        client = suds.client.Client("suds://wsdl", cache=None, documentStore=store)
        data = "Дмитровский район"
>       pytest.raises(MyException, client.service.f, data)

tests/test_transport_http.py:226: 
_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _
suds/client.py:519: in __call__
    return client.invoke(args, kwargs)
suds/client.py:579: in invoke
    result = self.send(soapenv)
suds/client.py:611: in send
    reply = self.options.transport.send(request)
suds/transport/https.py:66: in send
    return HttpTransport.send(self, request)
suds/transport/http.py:82: in send
    fp = self.u2open(u2request)
suds/transport/http.py:132: in u2open
    return url.open(u2request, timeout=tm)
/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/urllib/request.py:517: in open
    response = self._open(req, data)
/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/urllib/request.py:534: in _open
    result = self._call_chain(self.handle_open, protocol, protocol +
/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/urllib/request.py:494: in _call_chain
    result = func(*args)
/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/urllib/request.py:1375: in http_open
    return self.do_open(http.client.HTTPConnection, req)
/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/urllib/request.py:1352: in do_open
    h.close()
_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _

self = <http.client.HTTPConnection object at 0x10ce47e20>

    def close(self):
        """Close the connection to the HTTP server."""
        self.__state = _CS_IDLE
        try:
            sock = self.sock
            if sock:
                self.sock = None
>               sock.close()   # close it manually... there may be other refs
E               AttributeError: 'MockSocket' object has no attribute 'close'

/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/http/client.py:937: AttributeError
==================================================== 1 failed, 568 passed, 2 skipped, 18 xfailed in 1.53 seconds ====================================================
```